{% extends "base.html" %}

{% set active_page = "archives" %}

{% block title %}Archives &ndash; {% endblock %}

{% block content %}
<article>
    <ol class="archives">
      {% for year, year_group in articles|articles_by_year('%Y') %}
      <li class="year">
        <h2>
          <date datetime="{{ year }}">{{ year }}</date>
        </h2>
        <ol>
          {% for month, month_group in year_group|articles_by_month('%m') %}
          <li class="month">
            <h3>
              <date datetime="{{ year }}-{{ month }}">{{ month|month_name }}</date>
            </h3>
            <ol>
              {% for article in month_group %}
              <li>
                <article>
                  <a href="/{{ article.url }}" title="{{ article.title }}">{{ article.title }}</a>
                </article>
              </li>
              {% endfor %}
            </ol>
          </li>
          {% endfor %}
        </ol>
      </li>
      {% endfor %}
    </ol>
</article>
{% endblock %}
