{% extends "base.html" %}

{% set active_page = "blog" %}

{% block title %}{{ article.title }} &ndash; {% endblock title %}

{% block content %}
<article class="full">
  <header>
    <time datetime="{{ article.date.isoformat() }}" class="demphasized">
      {{ "{0:%B} {0.day}, {0:%Y}".format(article.date) }}
    </time>
    <h1 class="title">{{ article.title }}</h1>
  </header>

  <div class="article-content">
    {{ article.content }}
  </div>
</article>

{% include "modules/disqus.html" %}

{% endblock %}