<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

<head>
  {% include "modules/analytics.html" %}

  <link rel="stylesheet/less" type="text/css" href="/theme/css/style.less" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js"></script>

  <script src="//polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="//cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

  <link rel="stylesheet" type="text/css" href="/theme/css/pygments.css" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto%7CRoboto+Slab%7CRoboto+Mono" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="author" content="{{ AUTHOR }}" />
  <meta name="description" content="{{ DESCRIPTION }}" />

  {% block head %}{% endblock %}

  <title>
    {% block title %}{% endblock %}
    {{ SITENAME }}
  </title>
</head>

<body>
  <header>
    {% include "modules/header.html" %}
  </header>

  <main>
    {% block content %}{% endblock content %}
  </main>

  <footer class="demphasized">
      Content on this site is licensed under a <a rel="license" href="//creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>. Built using <a href="//getpelican.com" target="_blank">Pelican</a>.
  </footer>
</body>

</html>