{% extends "base.html" %}

{% set active_page = "blog" %}

{% block title %}Blog &ndash; {% endblock %}

{% block content %}
<article class="index">
  {% for article in articles_page.object_list %}
  <article class="summarized">
    <header>
      <time datetime="article.date.isoformat()" class="demphasized">{{ "{0:%B} {0.day}, {0:%Y}".format(article.date) }}</time>
      <h2 class="title"><a href="/{{ article.url }}">{{ article.title }}</a></h2>
    </header>

    <div class="article-content">
      {{ article.summary }}
    </div>

  </article>
  {% endfor %}

  <footer>
    {% include "modules/pagination.html" %}
  </footer>
</article>

{% endblock content%}
