
{% if DISQUS_SITENAME %}
<div id="disqus_thread"></div>
<script>
  var disqus_config = function () {
    this.page.url = "{{ SITEURL_REAL }}{{ article.url }}";
    this.page.identifier = "{{ article.url }}";
    this.page.title = "{{ article.title }}";
  };
  (function () { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
    Disqus.</a></noscript>
{% endif %}