<nav>
    <div class="name">
        <a href="/">{{ SITENAME }}</a>
    </div>
    <div class="links">
        {% for text, id, url in LINKS %}
            <a href="/{{ url|truncate_index_html }}" class="title{% if id == active_page %} active{% endif %}">{{ text }}</a>
        {% endfor %}
    </div>
</nav>