
<nav class="pagination">
    {% if articles_page.has_previous() %}
    <a href="/{{ articles_previous_page.url|truncate_index_html }}" class="newer">&larr; Newer Posts</a>
    {% endif %}

    {% if articles_page.has_next() %}
    <a href="/{{ articles_next_page.url }}" class="older">Older Posts &rarr;</a>
    {% endif %}
</nav>