.hll { background-color: #073642 }
.c { color: #586e75; font-style: italic } /* Comment */
.err { color: #839496; background-color: #dc322f } /* Error */
.esc { color: #839496 } /* Escape */
.g { color: #839496 } /* Generic */
.k { color: #859900 } /* Keyword */
.l { color: #839496 } /* Literal */
.n { color: #839496 } /* Name */
.o { color: #586e75 } /* Operator */
.x { color: #839496 } /* Other */
.p { color: #839496 } /* Punctuation */
.ch { color: #586e75; font-style: italic } /* Comment.Hashbang */
.cm { color: #586e75; font-style: italic } /* Comment.Multiline */
.cp { color: #d33682 } /* Comment.Preproc */
.cpf { color: #586e75 } /* Comment.PreprocFile */
.c1 { color: #586e75; font-style: italic } /* Comment.Single */
.cs { color: #586e75; font-style: italic } /* Comment.Special */
.gd { color: #dc322f } /* Generic.Deleted */
.ge { color: #839496; font-style: italic } /* Generic.Emph */
.gr { color: #dc322f } /* Generic.Error */
.gh { color: #839496; font-weight: bold } /* Generic.Heading */
.gi { color: #859900 } /* Generic.Inserted */
.go { color: #839496 } /* Generic.Output */
.gp { color: #839496 } /* Generic.Prompt */
.gs { color: #839496; font-weight: bold } /* Generic.Strong */
.gu { color: #839496; text-decoration: underline } /* Generic.Subheading */
.gt { color: #268bd2 } /* Generic.Traceback */
.kc { color: #2aa198 } /* Keyword.Constant */
.kd { color: #2aa198 } /* Keyword.Declaration */
.kn { color: #cb4b16 } /* Keyword.Namespace */
.kp { color: #859900 } /* Keyword.Pseudo */
.kr { color: #859900 } /* Keyword.Reserved */
.kt { color: #b58900 } /* Keyword.Type */
.ld { color: #839496 } /* Literal.Date */
.m { color: #2aa198 } /* Literal.Number */
.s { color: #2aa198 } /* Literal.String */
.na { color: #839496 } /* Name.Attribute */
.nb { color: #268bd2 } /* Name.Builtin */
.nc { color: #268bd2 } /* Name.Class */
.no { color: #268bd2 } /* Name.Constant */
.nd { color: #268bd2 } /* Name.Decorator */
.ni { color: #268bd2 } /* Name.Entity */
.ne { color: #268bd2 } /* Name.Exception */
.nf { color: #268bd2 } /* Name.Function */
.nl { color: #268bd2 } /* Name.Label */
.nn { color: #268bd2 } /* Name.Namespace */
.nx { color: #839496 } /* Name.Other */
.py { color: #839496 } /* Name.Property */
.nt { color: #268bd2 } /* Name.Tag */
.nv { color: #268bd2 } /* Name.Variable */
.ow { color: #859900 } /* Operator.Word */
.w { color: #839496 } /* Text.Whitespace */
.mb { color: #2aa198 } /* Literal.Number.Bin */
.mf { color: #2aa198 } /* Literal.Number.Float */
.mh { color: #2aa198 } /* Literal.Number.Hex */
.mi { color: #2aa198 } /* Literal.Number.Integer */
.mo { color: #2aa198 } /* Literal.Number.Oct */
.sa { color: #2aa198 } /* Literal.String.Affix */
.sb { color: #2aa198 } /* Literal.String.Backtick */
.sc { color: #2aa198 } /* Literal.String.Char */
.dl { color: #2aa198 } /* Literal.String.Delimiter */
.sd { color: #586e75 } /* Literal.String.Doc */
.s2 { color: #2aa198 } /* Literal.String.Double */
.se { color: #2aa198 } /* Literal.String.Escape */
.sh { color: #2aa198 } /* Literal.String.Heredoc */
.si { color: #2aa198 } /* Literal.String.Interpol */
.sx { color: #2aa198 } /* Literal.String.Other */
.sr { color: #cb4b16 } /* Literal.String.Regex */
.s1 { color: #2aa198 } /* Literal.String.Single */
.ss { color: #2aa198 } /* Literal.String.Symbol */
.bp { color: #268bd2 } /* Name.Builtin.Pseudo */
.fm { color: #268bd2 } /* Name.Function.Magic */
.vc { color: #268bd2 } /* Name.Variable.Class */
.vg { color: #268bd2 } /* Name.Variable.Global */
.vi { color: #268bd2 } /* Name.Variable.Instance */
.vm { color: #268bd2 } /* Name.Variable.Magic */
.il { color: #2aa198 } /* Literal.Number.Integer.Long */