@text-font-family : 'Roboto', sans-serif;
@title-font-family: "Roboto Slab", serif;
@title-font-family : 'Roboto', sans-serif;
@text-font-family: "Roboto Slab", serif;
@mono : 'Roboto Mono', monospace;

@background-color : #fff;
@background-alt-color: darken(@background-color, 5%);
@accent-color : #007bff;
@accent-alt-color : darken(@accent-color, 10%);
@text-color : #333;
@text-alt-color : lighten(@text-color, 20%);

@golden-ratio: 1.6180339887rem;
@golden-ratio-1: pow(@golden-ratio, -1);
@golden-ratio-2: pow(@golden-ratio, -2);

html {
  background-color: @background-color;
  color: @text-color;
  font-family: @text-font-family;
  line-height: 1.5;
  font-size: 18px;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body > header {
  margin-top: 2rem;
  & > nav {
    display: flex;
    border-bottom: 2px solid @accent-color;
    align-items: baseline;
    .name {
      flex: 1;
      font-size: 1.32rem;
      font-weight: bold;
    }
    .links {
      :not(:last-child) {
        margin-right: @golden-ratio;
      }
      .active {
        font-weight: bold;
        color: @text-alt-color;
      }
    }
  }
}

@mobile-width-breakpoint: 550px;

@media screen and (max-width: @mobile-width-breakpoint - 1) {
  body > header > nav {
    flex-direction: column;
    align-items: center;
  }
}

body > footer {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.home {
  text-align: center;
  img {
    max-width: 150px;
  }
}

body > * {
  margin: 0px auto;
  padding: @golden-ratio;
  max-width: @mobile-width-breakpoint;
}

h1 {
  font-size: 2.3rem;
  font-weight: bold;
}

h2, .h2 {
  font-size: 1.65rem;
  font-weight: bold;
}

h3, .h3 {
  font-size: 1.32rem;
  font-weight: bold;
}

h4, .h4 {
  font-size: 1.16rem;
  font-weight: bold;
}

h5, .h5 {
  color: @text-alt-color;
  font-size: 1.08rem;
  font-weight: bold;
}

h6, .h6 {
  color: @text-alt-color;
  font-size: 1rem;
  font-weight: normal;
}

a,
a:visited {
  color: @accent-color;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: @accent-alt-color;
}

.headerlink {
  h2, h3, h4, h5, h6 {
    display: inline;
  }
  a {
    color: @background-color;
    margin-left: 0.5rem;
    &:hover {
      background-color: @background-alt-color;
    }
  }
  &:hover a {
    color: @accent-alt-color;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: @title-font-family;
}

.summarized {
  margin: 0 0 3rem 0;
  margin-bottom: 3rem;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
.headerlink,
ul,
ol,
ul li,
ol li {
  margin: 0 0 (@golden-ratio-1) 0;
}

li ul,
li ol {
  margin-top: @golden-ratio-1;
  padding-left: @golden-ratio;
}

#disqus_thread {
  margin-top: 3rem;
}

.demphasized {
  font-size: smaller;
  color: @text-alt-color;
}

.title {
  font-family: @title-font-family;
}

.pagination {
  display: grid;
  grid: 1fr / [newer] 1fr [older] 1fr;
  .older {
    grid-area: older;
    justify-self: end;
  }
  .newer {
    grid-area: newer;
    justify-self: start;
  }
}

.archives {
  padding-left: 0;

  h2,
  h3,
  h4 {
    font-size: 1rem;
  }

  &,
  & ol {
    list-style-type: none;
  }
}

img,
video,
audio,
figure {
  max-width: 100%;
  margin: 0 auto (@golden-ratio-1) auto;
}

figure {
  text-align: center;
  width: fit-content;
  img {
    background: @background-alt-color;
    padding: 0.5rem;
  }
  figcaption {
    margin-top: (-1 * @golden-ratio-1);
    background: @background-color;
    font-size: smaller;
    color: @text-alt-color;
  }
}

.youtube {
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  overflow: hidden;
  max-width: 100%;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

pre {
  color: @text-color;
  border-left: 3px solid @accent-color;
  background: @background-alt-color;
  overflow-x: auto;
  padding: 0.5rem;
  font-size: smaller;
}

code {
  font-family: @mono;
  background: @background-alt-color;
}

blockquote {
  font-style: italic;
  background: @background-alt-color;
  width: fit-content;
  padding: 0.5rem;
  p:last-child {
    margin-bottom: 0;
  }
}
